// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorReact = #00d7fd
