// That styles are using only for showing
// component as standalone site page by opening index.html

html
    overflow-x hidden
    scrollable()
    min-height 100%

*
    box-sizing border-box
    margin 0
    padding 0
