FRONTEND_COMPOSE_NAME=frontend-vue-child-compose
BUILD_FRONTEND_PATH=./vue-child-app
ENV_FILE_NAME=.env.vue-child
NODE_RELEASE=18
NGINX_RELEASE=1.23.3-alpine
API_HOST=api-host-or-docker-container-name
API_PORT=3000
# If PORT_HTTP is not 80, you must add it into DOMAIN_URL, example: you.domain.com:8001
DOMAIN_URL=your.domain.com:8001
PORT_HTTP=8001
PORT_HTTPS=5001
DEPLOY_BRANCH=main
