@require "../styles/constantsReact.styl"
@require "../../../shared-res/styles/components.styl"
@require "../../../shared-res/styles/animations.styl"

.root-react-app
  block(colorReact)

.logo
  size = 200px
  height size
  width size
  will-change filter
  transition filter 300ms
  display block
  margin 0 auto
  &:hover
   filter 'drop-shadow(0 0 %s %s)' % ((size / 20) colorReact)

  animation-not-reduced(logo-spin infinite 10s ease alternate)
  @keyframes logo-spin
    from
      transform rotate(0deg) scale(0.8)
    to
      transform rotate(360deg) scale(1)


