.root {
  width: 100%;
  text-align: center;
}

.logo {
  --size: 200px;
  height: var(--size);
  width: var(--size);
  will-change: filter;
  transition: filter 300ms;
  display: block;
  margin: 0 auto;
}
.logo:hover {
  filter: drop-shadow(0 0 calc(var(--size) / 10) #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg) scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s ease alternate;
  }
}
