@import "../styles/constantsReact.styl"
@import "../../../shared-res/styles/components.styl"
@import "../../../shared-res/styles/animations.styl"

.root-react-app
  block(colorReact)

.logo
  will-change filter
  size = 200px
  display block
  width size
  height size
  margin 0 auto
  transition filter 300ms
  &:hover
    filter 'drop-shadow(0 0 %s %s)' % ((size / 20) colorReact)

  animation-not-reduced(logo-spin infinite 10s ease alternate)

  @keyframes logo-spin
    from
      transform rotate(0deg) scale(0.8)
    to
      transform rotate(360deg) scale(1)


